# Virtual environments
venv/
.venv/

# Node modules
node_modules/

# Environment variables
.env

# SQLite DB (in any project folder)
**/db.sqlite3

# Media & collected static files
media/
staticfiles/

# Python cache
__pycache__/
*.pyc

# Logs
*.log